*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
/sample
/library
/slidingMenuLibrary/build
/viewPagerIndicatorLibrary/build
/.idea/vcs.xml
/JPushExample/build
app/src/main/java/com/example/caprin/zhihuibeijing/global/GlobalConstants.java
